
.container{
   text-decoration: dashed;
   text-align: center; 
}
body {
    text-align: center; 
    font-family: Arial, sans-serif;
    background-color: #ede8f0;
    margin: 0;
    padding: 0;
  }
  
  h2 {
    color: #333;
  }
  
  h3 {
    color: #555;
  }
  
  .display {
    text-align: center; 
    background-color: #fff;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    max-height: 600px;
    max-height: 300px;
    overflow-y: auto;
  }
  
  .display p {
    text-align: center; 
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
  }
  
  input[type="text"] {
    text-align: center; 
    width: calc(50%);
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ff5d5d;
    border-radius: 5px;
  }
  
  input[type="text"]:focus {
    text-align: center; 
    outline: none;
    border-color: #007bff;
  }
  
  /* Estilos para el botón (opcional) */
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .texto {
    text-align: center; 
    font-family: Comic Sans MS; 
    font-weight:bold; 
    font-size: 20px; 
    color: #d0bee5; 
    text-shadow: -1px 0 #9a58eb, 0 1px #9a58eb, 1px 0 #9a58eb, 0 -1px #9a58eb, -2px 2px 0 #9a58eb, 2px 2px 0 #9a58eb, 1px 1px #9a58eb, 2px 2px #9a58eb, 3px 3px #9a58eb, 4px 4px #9a58eb, 5px 5px #9a58eb, 6px 6px #9a58eb, 7px 7px #9a58eb, 8px 8px #9a58eb, 9px 9px #9a58eb;
  }