body {
    font-family: Arial, sans-serif;
    background-color: #ebdaf4;
  }
  form {
    width: 750px;
    margin: 0 auto;
  }
  input[type="text"],
  input[type="password"],
  input[type="submit"] {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type="submit"] {
    background-color: #4c9daf;
    color: white;
    border: none;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #458ba0;
  }

  .texto {
    text-align: center; 
    font-family: Comic Sans MS; 
    font-weight:bold; 
    font-size: 30px; 
    color: #bb9de1; 
    text-shadow: -1px 0 #9a58eb, 0 1px #9a58eb, 1px 0 #9a58eb, 0 -1px #9a58eb, -2px 2px 0 #9a58eb, 2px 2px 0 #9a58eb, 1px 1px #9a58eb, 2px 2px #9a58eb, 3px 3px #9a58eb, 4px 4px #9a58eb, 5px 5px #9a58eb, 6px 6px #9a58eb, 7px 7px #9a58eb, 8px 8px #9a58eb, 9px 9px #9a58eb;
  }
  .descripcion{
    text-align: center;
  }
