/*Cards*/
/*PONER BACKGRAOUN COLOR*/
body{
    background-color: rgb(255, 203, 251);
}
.container-card{
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin: auto;
}

.title-cards{
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: black;
}
.card{
    margin: 20px;
    background:#8fff8b;
    box-shadow: 0px 1px 10px rgba(45, 83, 28, 0.582);
    cursor: default;
}
.texto{
    margin: 25px;
    cursor: default;
}
.boton-bonito{
    text-decoration:none;
    font-weight: 500;
    font-size: 18px;
    color:#1a1a1a;
    padding-top:7.5px;
    padding-bottom:7.5px;
    padding-left:20px;
    padding-right:20px;
    background-color:#FFD27D;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    border-radius:35px;
}