
/*Cards*/
/*PONER BACKGRAOUN COLOR*/
body{
    background-color: rgb(247, 247, 247);
}
.container-card{
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin: auto;
}

.title-cards{
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: black;
}
.card{
    
    border-radius:25px;
    margin: 20px;
    background:#8fff8b8f;
    box-shadow: 0px 1px 10px rgba(45, 83, 28, 0.582);
    cursor: default;
}
.texto{
    margin: 25px;
    cursor: default;
}
.boton-bonito{
    text-decoration:none;
    font-weight: 500;
    font-size: 18px;
    color:#1a1a1a;
    padding-top:7.5px;
    padding-bottom:7.5px;
    padding-left:20px;
    padding-right:20px;
    background-color:#FFD27D;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    border-radius:35px;
}


.portfolio-experiment {
  
  a {
    color: white;
    padding: 0.7em calc(0.7em * 1.2);
    display: inline-block;
    border:  3px solid transparent;
    position: relative;
    font-size: 1.5em;
    cursor: pointer;
    letter-spacing: 0.07em;

    .text {
      padding: 0 0.3em;
      font-family: proxima-nova, monospace;
      transform: translate3d(0,0.7em,0);
      display: block;
      transition: transform 0.4s cubic-bezier(.2,0,0,1) 0.4s;
    }

    &:after {
      position: absolute;
      content: '';
      bottom:  -3px;
      left: calc(0.7em * 1.2);
      right: calc(0.7em * 1.2);
      height:  3px;
      background: #f26522;
      z-index: -1;
      transition: 
        transform 0.8s cubic-bezier(1,0,.37,1) 0.2s,
        right 0.2s cubic-bezier(.04,.48,0,1) 0.6s,
        left 0.4s cubic-bezier(.04,.48,0,1) 0.6s;
      transform-origin: left;
    }

  }

  .line {
    position: absolute;
    background: #f26522;

    &.-right,
    &.-left {
      width:  3px;
      bottom:  -3px;
      top:  -3px;
      transform: scale3d(1,0,1);
    }  

    &.-top,
    &.-bottom {
      height: 3px;
      left: -3px;
      right: -3px;
      transform: scale3d(0,1,1);
    }

    &.-right {
      right: -3px;
      transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.23s;
      transform-origin: top;
    }

    &.-top {
      top: -3px;
      transition: transform 0.08s linear 0.43s;
      transform-origin: left;
    }

    &.-left {
      left: -3px;
      transition: transform 0.08s linear 0.51s;
      transform-origin: bottom;
    }

    &.-bottom {
      bottom: -3px;
      transition: transform 0.3s cubic-bezier(1,0,.65,1.01);
      transform-origin: right;
    }  
  }

  a:hover,
  a:active {

    .text {
      transform: translate3d(0,0,0);
      transition: transform 0.6s cubic-bezier(.2,0,0,1) 0.4s;
    }

    &:after {
      transform: scale3d(0,1,1);
      right: -3px;
      left: -3px;
      transform-origin: right;
      transition: 
        transform 0.2s cubic-bezier(1,0,.65,1.01) 0.17s,
        right 0.2s cubic-bezier(1,0,.65,1.01),
        left 0s 0.3s;
    }

    .line {
      transform: scale3d(1,1,1);

      &.-right {
        transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.2s;
        transform-origin: bottom;
      }

      &.-top {
        transition: transform 0.08s linear 0.4s;
        transform-origin: right;
      }

      &.-left {
        transition: transform 0.08s linear 0.48s;
        transform-origin: top;
      }

      &.-bottom {
        transition: transform 0.5s cubic-bezier(0,.53,.29,1) 0.56s;
        transform-origin: left;
      }
    }

  }
}

@media only screen and (max-width: 900px) {
    .container {
      margin: 1em 2em;
    }
   
}