
h1 {
  width: 98%;
  padding: 20px;
  background-color: #b7a1c2;
  border-radius: 10px;
  text-align: center;
}

.container {
  display: flex;
}
.info {
  width: 100%;
  padding: 20px;
  background-color: #dbd0e1;
  border-radius: 10px;
  text-align: left;
}
.informationContainer{
  padding: 20px;
  background-color: #ede8f0;
  border-radius: 10px;
}
.usersContainer{
  padding: 20px;
  background-color: #ede8f0;
  border-radius: 10px;
}
.msgContainer{
  padding: 20px;
  background-color: #ede8f0;
  border-radius: 10px;
}
.ipContainer{
  padding: 20px;
  background-color: #ede8f0;
  border-radius: 10px;
}
.mensajes {
  width: 100%;
  margin-left: 10px;
  background-color: #dbd0e1;
  border-radius: 10px;
  text-align: right;
}


.blue {
  color: blue;
}

.red {
color: red;
}

#display {
    border: 2px solid #dbd0e1;
    padding: 10px;
}